.css-o69gx8-MuiCardMedia-root {
  display: inline;
  background-position: center;
  width: 33%;
  height: 100%;
}

.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  width: 66%
}

h2 {
  padding-left: 25px;
}